@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

* {
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    columns: #555555;
    line-height: 1.42857143; /* ارتفاع السطر */
}
.custom-navbar {
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;;
}

.custom-navbar .container {
    padding: 0;
}

.custom-navbar .container .navbar-brand {
    margin-left: 30px;
    margin-top: 4px;
}

.categories .nav-link {
    padding: 6px 13px 6px;
    border-right: 0;
    border-radius: 0;
}

.custom-form-control,.custom-btn {
    color: #868686;
    border: 1px solid #EBEBEB;
    box-shadow: none; /* to hide the shadow */
    border-radius:2px;
    font-size: 14px;
    padding: 7px 13px;
    transition: all .3s ease;
}

.custom-navbar .custom-form-control:focus {
    border-color: #C2101E;
    box-shadow: 0 0 2px o #C2101E;
}

.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
}

.custom-dropdown-menu {
    box-shadow: 0 2px 5px 0 #EBEBEB;
    border-radius: 2px;
    color:#777;
}

.custom-dropdown-menu .checkbox{
    display: flex;
    margin: 0 5px;
}

.custom-navbar a.btn-icon {
    padding: 5px 10px 4px;
    color: #777;
    border: 1px solid #ddd;
    background: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}

.custom-navbar .custom-btn-primary /* ? */{
    color: white;
    background-color: #FF3956;
    border-color: #FF3956;
    padding: 5px 20px 6px 20px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
}

.custom-navbar .custom-btn-primary:hover,
.custom-navbar .custom-btn-primary:active,
.custom-navbar .custom-btn-primary:focus,
.custom-navbar .custom-btn-primary:active:focus,
.custom-navbar .custom-btn-primary:active:hover {
    background-color: #C2101E;
    border-color: #C2101E;
}

.custom-navbar .navbar-nav > li /* معناته انه بس اللستة الموجودة في navbar-nav will be reflected */{
    margin: 0;
}
.custom-navbar .navbar-nav li a.nav-link{
    color: #555555;
    font-size: 14px;
    padding: 15px;
}

.custom-navbar .navbar-nav li a.nav-link:hover {
    color: black;
}

.custom-navbar .navbar-nav li.active>a.nav-link {
    color:#FF3956;
    font-weight: 700;
    border-bottom: 1px solid #FF3956;
}

.custom-navbar .navbar-nav li.active:hover>a.nav-link {
    background-color: #e7e7e7;
}
.custom-dropdown-menu li a:hover {
    background-color: #FFE7EA;
}


/* التحكم بالعنصر الاخير في nav*/

.custom-navbar .navbar-nav li:last-of-type {
    margin-top: 7px;
}

.custom-dropdown-menu .checkbox label input{
    margin-left: 5px;
}

.custom-navbar .btn-icon:hover {
    color: black;
    background-color: #bfbfbf;
}